body{
    background-color: rgb(255, 250, 160);
}

h1{
    text-align: center;
    font-size: x;
    background-color: #008264;
    color: white;

}

.Recipes{
    font-size: 24px;
    color: #008264;
}